// woocomerce
.woocommerce {
    .product {
        .onsale {
            width: 4em;
            height: 4em;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            top: 0;
            left: 0;
        }
        .summary {
            & > .title {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.5;
                margin-bottom: 0.5rem;
                color: theme('colors.black');
            }
            & > .product_title {
                font-size: 0;
            }
            .stock {
                color: theme('colors.black');
                margin-top: .5rem;
            }
            .price {
                font-size: 1.5rem;
                font-weight: 700;

                del, ins {
                    display: block;
                }
            }
            .woocommerce-product-details__short-description {
                color: theme('colors.black');
            }
            .cart {
                margin-top: 1rem;
                margin-bottom: 1rem;
                .quantity {
                    display: none;
                }
                .button {
                    width: 100%;
                }
            }
            .product_meta {
                color: theme('colors.black');
                .external_shop {
                    margin-top: .25rem;
                    .title {
                        margin-bottom: .5rem;
                        color: theme('colors.black');
                    }
                    .items {
                        a {
                            display: inline-block;
                            img {
                                display: inline-block;
                                width: 2.5rem;
                                height: 2.5rem;
                            }
                        }
                    }
                }
            }
        }
        .wc-tabs {
            margin-bottom: 1rem !important;
        }
        .woocommerce-Tabs-panel {
            h2 {
                display: none;
            }
        }
        .comment-form {
            textarea {
                @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500;
            }
        }
        .comment-reply-title {
            @apply font-semibold text-xl;
        }
        .comment_container {
            img {
                opacity: 1 !important;
            }
        }
        .stars {
            .star {
                color: theme('colors.red.500') !important;
            }
        }
        .button {
            &.single_add_to_cart_button {
                transition: all 0.6s ease;
                background: theme('colors.red.500') !important;
                padding: 1rem 3rem !important;

                &:hover {
                    background: theme('colors.red.700') !important;
                    color: theme('colors.white') !important;
                }
            }
        }

        // 
        .woocommerce-tabs.wc-tabs-wrapper {
            .tabs.wc-tabs {
                li {
                    border-radius: 0;

                    &.active {
                        z-index: 0;
                        border-radius: 0 !important;
                    }
                }
            }
        }
    }
}