.accordion-mobile {
  & > * {
    transition: all 0.3s ease-in-out;
  }
  .title {
    @apply text-xl font-semibold;
    color: theme('colors.black');
    border: 1px solid theme('colors.gray.300');
    padding: 1rem;
    cursor: pointer;
    .icon {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-color: theme('colors.gray.100');
    }
  }

  .content {
    background: white;
    padding: 1rem 2rem;
    border: 1px solid theme('colors.gray.300');
    border-top: none;
    margin-bottom: 1rem;
  }

  &.collapsed {
    .content {
      height: 0;
      overflow: hidden;
      padding: 0;
    }
  }
}